{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="section white">
        <div class="row container">
            <h2 class="header">About DataSci</h2>
            <p class="grey-text text-darken-3 lighten-3">
                DataSci is a way of showing our developing data science work as we grow and learn.
                All work will be shared and on this site and provided on our <a href="https://github.com/ProjectCrypto"><b>Git Hub</b></a>
                page. We are all data scientist trying to learn and hope that this will help others
                and encourage others to share their work.
            </p>
        </div>
    </div>



    <div class="section white">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ url_for('static',filename='images/eric.jpg') }}" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
            <h2 class="header">Eric Entrup</h2>
              <span class="black-text">
                Hi, I'm Eric,
                  
                I am a passionate learner in machine learning and computer science. Learning to build websites like this one and the knowledge of data science to give this site great content!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static',filename='images/space.jpg') }}"></div>
    </div>
    <div class="section white">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ url_for('static',filename='images/Slide12.png') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static',filename='images/Slide12.png') }}"></div>
    </div>
{% endblock %}

{% block customjs %}
    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>
{% endblock %}