


<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>







<h3>
    Introduction
</h3>
<p>This could be a posting talking about anything you find interesting and hopefully
some coole visuals to really spice up that analysis. Oh wow how cool is this im typing 
and there is nothing that can stop me right now because I am all alone doing this.</p>
<p>This could be a posting talking about anything you find interesting and hopefully
some coole visuals to really spice up that analysis. Oh wow how cool is this im typing 
and there is nothing that can stop me right now because I am all alone doing this.</p>




<h3> Adding Code Blocks</h3>

<pre><code class="language-python">
import pandas as pd

class this(object):
    def __init__(self,learning):
        self.enjoy = []
        self.fun   = []
        
    def enjoy_fun():
        """ Lets get Started"""
</code></pre>



<h3>Adding Latex/Math</h3>
$$\sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}$$


<h3>Block Quotes</h3>

<blockquote>
<ul>
<li>Example adding stuff</li>
<li>Will love the cool look</li>
<li>This that the other</li>
</ul>
</blockquote>

<h3>Lists</h3>
<ul>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ul>















