{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
{% for post in TOPIC_DICT %}
<div class="row text-center">
    <div class="col-xs-12 col-md-4 col-sm-12">
        <div class="card z-depth-2">
            <div class="card-header card-image waves-effect waves-block waves-light">
                <img src="{{ url_for('static',filename='images/') }}{{ post.image }}">
                <span class="card-title">{{ post.title }}</span>
            </div>
            <div class="card-content">
                <p>{{ post.summary }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('posting',post_url=post.link) }}">READ MORE</a>
            </div>
        </div>
    </div>
</div>    
{% endfor %}

{% include 'pagination.html' %}
{% endblock %}

