

<p>
    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">
        Introduction
    </h3>
</p>
<div class="mdl-cell mdl-cell--10-col mdl-card__supporting-text no-padding ">
    <p>This could be a posting talking about anything you find interesting and hopefully
    some coole visuals to really spice up that analysis. Oh wow how cool is this im typing 
    and there is nothing that can stop me right now because I am all alone doing this.</p>
    <p>This could be a posting talking about anything you find interesting and hopefully
    some coole visuals to really spice up that analysis. Oh wow how cool is this im typing 
    and there is nothing that can stop me right now because I am all alone doing this.</p>
</div>
<pre><code class="language-python">
import pandas as pd

class this(object):
    def this():
        asdfs
</code></pre>

<div class="mdl-grid">
    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Design</h3>
    <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding ">
        <p>
This could be a posting talking about anything you find interesting and hopefully
    some coole visuals to really spice up that analysis. Oh wow how cool is this im typing 
    and there is nothing that can stop me right now because I am all alone doing this.
        </p>
    </div>
</div>

<div class="mdl-grid">
    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Product</h3>
    <div class="mdl-cell mdl-cell--9-col mdl-card__supporting-text no-padding ">
        <p>
This could be a posting talking about anything you find interesting and hopefully
    some coole visuals to really spice up that analysis. Oh wow how cool is this im typing 
    and there is nothing that can stop me right now because I am all alone doing this.
        </p>
    </div>
</div>


